@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

@import url('https://fonts.googleapis.com/css2? família= Oswald:wght@300 & display=swap');

* {
  margin: 0; padding: 0;
}


body {
  background: #070625 url('fundo.jpeg') top center no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #A0A1B769;
}

nav, ul, li{
  list-style: none;
  display: flex;
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
  margin: 0.6rem 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  font-size: 2rem;
  margin: 1rem 0rem 1rem 1.3rem;
  align-items: center;
  font-family: 'Teko', sans-serif;
}

main {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.imagem img{
  width: 30rem;
  margin: 2rem;
}

section.texto {
  color: white;
  width: 22rem;
  margin-top: 7rem;
  line-height: 1.5rem;
}

h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
  font-family: 'Teko', sans-serif;
  letter-spacing: 0.2rem;
}

span#fonte {
  font-size: 0.6rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #7248AE;
  margin: 2.5rem 2rem 2.5rem 0rem;
  
}

#fonte a {
  color: #B4B3B5;
  margin-left: 0.3rem;
}

div.visualizar {
  width: 24rem;
  height: 15rem;
  position: absolute;
  color: white;
  margin-top: 22rem;
  margin-left: 33rem;
}

div.visualizar > #um, #dois, #tres {
  border: 1px solid #A0A1B769;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.8rem 0rem;
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.num {
  padding-right: 1.5rem;
  font-size: 0.7rem;
  font-family: Arial, sans-serif;
  color: #B4B3B5;
}

div.dados {
  color: white;
  display: flex;
  margin-top: 10rem;
}

.dados div {
  width: 9rem;
  border: 1px solid #A0A1B769;
  padding: 1rem 2rem 1rem 1rem;
  text-align: left;
  margin: 1rem; 
}

.dados small {
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  color: #B4B3B5;
}

.dados span {
  margin: 0;
}

